dist
node_modules
.idea
package-lock.json
out
export
*.js
dev.patch
.scannerwork
certs
update.key
scripts/**/*.json
/config/
!/res/**
!forge.config.js
!webpack.config.js
!webpack.electron.js
!webpack.react.js
